@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.app {
  font-family: 'Noto Sans KR', sans-serif;
  color: #111111
}
nav {
  background-color:darkslateblue;
  padding:14px;
  color: white;
  height: 28px;
  align-items:center;
}
a{
  text-decoration: none;
  color:white;
}
nav a {
  margin-left: 12px;
  margin-right: 12px;
  transition: color 1s
}
nav a:hover {
  color: yellow
}
nav .title {
  float: left;
}
nav .menus {
  font-size: 14px;
  font-weight:300;
  float: right;
  vertical-align:middle;
  text-align:center;
}
main {
  margin : auto;
  padding : 6px;
  max-width: 800px;
}

.recent {
  position: relative;
}
.recent .bg {
  height: 500px;
  width: 100%;
  background-color: darkgreen;
  z-index: 10;
}
.recent .txtbg {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 1;
}

.recent .txt {
  padding : 8px;
}
.recent .thisweek {
  font-size: 20px;
  font-weight: 200;
}
.recent .topic {
  font-size: 36px;
  font-weight: 500;
}
.recent .mentor {
  font-size: 16px;
  font-weight: 500;
}
.recent .course {
  font-size: 16px;
  font-weight: 200;
}
.recent .time {
  font-size: 16px;
  font-weight: 200;
}
.recent .mctgrid {
  display: flex;
  align-items:center;
}
.recent .btnWrapper {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100px;
}
.recent img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
.recent .blur {
  filter: blur(8px)
}
.seminarhead {
  margin-top : 12px;
  padding : 4px;
  font-weight: 600;
  padding-bottom: 6px;
  color:#333333;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items:center;
  border-bottom: #333333;
  border-bottom-style:solid
}
.seminar {
  margin-top : 6px;
  margin-bottom : 6px;
  padding : 4px;
  color:#333333;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items:center;
}


.seminar .date {
  font-weight: 400;
  font-size: 15px
}
.seminar .topic {
  font-size: 20px;
  font-weight: 500
}

.seminar .mentorwrapper {
  font-size: 14px
}

.seminar .mentor {
  font-weight:500
}

.seminar .course {
  font-weight : 400
}

.apply {
  background-color:darkslateblue;
  text-align:center;
  padding: 6px 20px;
  border-radius: 4px;
  box-shadow: 0px 8px 15px rgba(72, 61, 139, 0.2);
  transition: all 0.3s ease 0s;
}
.play {
  background-color:crimson;
  box-shadow: 0px 10px 15px rgba(220, 20, 60, 0.4)
}
.apply:hover {
  background-color: purple;
  box-shadow: 0px 10px 15px rgba(128, 0, 128, 0.4)
}